<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stabex.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>4</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C3DE9D5D9C22BE2A40884B3D5DD20F3C364EA28B</string>
				<key>dateExpires</key>
				<string>22/05/2025</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C3DE9D5D9C22BE2A40884B3D5DD20F3C364EA28B</string>
						<key>dateExpires</key>
						<string>22/05/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FG65PP52A8</string>
						<key>name</key>
						<string>Anthony Kipkurui Cheruiyot</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>FG65PP52A8.org.reactjs.native.example.stabex.international</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>FG65PP52A8</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>stabex.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>62633141-b535-4ae2-be7b-c5a3a3ab71cd</string>
				<key>dateExpires</key>
				<string>22/05/2025</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: org.reactjs.native.example.stabex.international</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>FG65PP52A8</string>
				<key>name</key>
				<string>Anthony Kipkurui Cheruiyot</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
